<section class="subsection">
    <h5>COPY NUMBER VARIANT</h5>
    <div class="copy_number_variant">
        <div class="many_column_row">
            <div id="cnt_div_variant_status" class="control_group">
                <label for="variant_status">VARIANT STATUS</label>
                <textarea id="variant_status" name="variant_status"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
            <div id="cnt_div_variant" class="control_group">
                <label for="variant">VARIANT</label>
                <textarea id="variant" name="variant"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
            <div id="cnt_div_condition" class="control_group">
                <label for="condition">CONDITION</label>
                <textarea id="condition" name="condition"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
            <div id="cnt_div_size" class="control_group">
                <label for="size">SIZE</label>
                <textarea id="size" name="size"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
            <div id="cnt_div_genes" class="control_group">
                <label for="genes">GENES</label>
                <textarea id="genes" name="genes"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
            <div id="cnt_div_event" class="control_group">
                <label for="event">EVENT*</label>
                <select id="event" name="event">
                    <option value="select">Select or write in</option>
                    <option value="deletion">Deletion</option>
                    <option value="duplication">Duplication</option>
                    <option value="triplication">Triplication</option>
                    <option value="see_text">See text</option>
                </select>
            </div>
            <div id="cnt_div_classification" class="control_group">
                <label for="classification">CLASSIFICATION</label>
                <textarea id="classification" name="classification"  cols="11" rows="2" wrap="hard" maxlength="22"></textarea>
            </div>
        </div>
    </div>
</section>