<header>
<div>
    <img class="logo" src="{{ url_for('static', filename='RadyChildrensInstitueGenomicsMedicineLogo.jpg')}}" />
</div>
<div class="align_center">
    <h3 class="teal">Clinical Genome Center</h3>
    <p>
        7910 Frost Street, Suite 240<br />
        San Diego, CA 92123
    </p>
</div>
<div class="align_right">
    <h4 class="coolblue">RCIGM_rWGS@rchsd.org</h4>
    <p>
        <span>P:</span> 858 / 966-8127<br />
        <span>F:</span> 858 / 966-8092<br />
    </p>
    <p><b>
        CLIA ID# 05D2129627<br />
        CAP ID# 9487427
    </b></p>
</div>
</header>