<section class="subsection">
    <div id="cnt_div_recommendations" class="control_group">
        <h5>RECOMMENDATIONS</h5>
        <div>
            <ul>
                <li>Clinical correlation is recommended.</li>
                <li>Clinical molecular testing should be interpreted in the context of the patient's clinical presentation and the prior probability of the clinical signs and symptoms being associated with known single gene disorders (i.e. defects in the identified gene).</li>
                <li>Genetic counseling is recommended to assess the specific implications of these results relative to an individual's clinical context.</li>
                <li>Additional testing may be appropriate to evaluate for other types of variants not evaluated by this test.</li>
                <li>As knowledge increases, periodic re-evaluation of the clinical implications of variants is appropriate. Please contact RCIGM_rWGS@rchsd.org for questions about the RCIGM re-analysis policy.</li>
            </ul>
        </div>
    </div>
</section>