<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ report_type }} FORM</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
    </head>
    <body>
        <form id="main_form">
            {% if report_type == "SNV-EXTERNAL" %}
                {% include 'snv_external.html' %}
            {% elif report_type == "SNV-NEGATIVE" %}
                {% include 'snv_negative.html' %}
            {% elif report_type == "SNV-POSITIVE" %}
                {% include 'snv_positive.html' %}
            {% elif report_type == "CNV" %}
                {% include 'cnv.html' %}
            {% elif report_type == "MITO" %}
                {% include 'mito.html' %}
            {% endif %}
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js')}}"></script>
    </body>
</html>